@using Napoleon.Log4Module.Log.Model
@{
    ViewBag.Title = "日志详情";
    Layout = "~/Views/Shared/_Right.cshtml";
}
<div style="padding: 15px;">
    @{
            var systemlog =(SystemLog) ViewData["Info"];
            if (systemlog != null)
            {
                   <table class="pageTable">
                       <tr>
                           <td class="tableName">操作地址:</td>
                           <td class="tableValue">
                               <input id="operateUrl" readonly="readonly" class="easyui-textbox" type="text" value="@systemlog.OperateUrl" /></td>

                           <td class="tableName">IP地址:</td>
                           <td class="tableValue">
                               <input id="ipAddress" readonly="readonly" class="easyui-textbox" value="@systemlog.IpAddress" type="text" /></td>
                       </tr>
                       <tr>
                           <td class="tableName">记录时间:</td>
                           <td class="tableValue">
                               <input id="operateTime" readonly="readonly" value="@systemlog.OperateTime" class="easyui-datetimebox" /></td>

                           <td class="tableName">日志类型:</td>
                           <td class="tableValue">
                               <input id="operateType" readonly="readonly" value="@systemlog.OperateType" class="easyui-textbox" type="text" /></td>
                       </tr>
                       <tr>
                           <td class="tableName">日志内容:</td>
                           <td class="tableValue">
                               <input id="operateContent" readonly="readonly" class="easyui-textbox" type="text" data-options="multiline:true" value="@systemlog.OperateContent" style="height: 80px;" /></td>
                       </tr>
                   </table>
    }
        }
</div>
<div id="tt">
    <a href="/Log/Index" style="margin-right: 20px; height: 100%;" class="icon-undo"></a>
</div>
<script type="text/javascript">
    $(window).resize(function () {
        $.parser.parse($('body'));
    })
</script>
